body {
  background: #61B2E3;
  color: #333333;
  margin-top: 5rem;
  background-color: rgb(238, 130, 238);
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
