
body {
  background: #61B2E3;
  color: #333333;
  margin-top: 5rem;
}


.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}


.navbar{
    background-color: #61B2E3;
    border-color: #61B2E3;
}
