
body {
  background: #61B2E3;
  color: #333333;
  margin-top: 5rem;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.navbar {
    background-color: #E1AEF1;
    border-color: #e1aef1;
}
