{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              {% if post.complete == False %}
                <small class="text-muted">{{ post.date_posted.strftime("%H:%M, %d/%m/%Y") }} </small>
                <button type="button"> <a href="{{ url_for('view_completed',id=post.id) }}"> Mark as Complete </a> </button>
              {% elif post.complete == True %}
                <small class="text-muted">{{ post.date_posted.strftime("%H:%M, %d/%m/%Y") }} - Completed! </small>
              {% endif %}

            </div>
            <h2><a class="article-title">{{ post.title }}</a> </h2>

            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
